/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root {
    /*colors*/
    --white-color: #ffffff;
    --dark-color:#252525;
    --primary-color: #3B141C;
    --secondary-color: #f3961c;
    --light-pink-color:#fa45;
    --medium-gray-color: #ccc;

    /*font-sizes*/
    --font-size-s:0.9rem;
    --font-size-n:1rem;
    --font-size-m:1.12rem;
    --font-size-l:1.5rem;
    --font-size-xl:2rem;
    --font-size-xxl:2.3rem;

    /* font-weight */
    --font-waight-normal:400;
    --font-waight-medium:500;
    --font-waight-semibold:600;
    --font-waight-bold:700;

    /*border-radius*/
    --border-radius-s:8px;
    --border-radius-m:50px;
    --border-radius-circle:50%;

    /*site mx-width*/
    --site-max-width:1300px;
}

html {
    scroll-behavior: smooth;
    
}

/*Styling for whole site*/
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

img {
    max-width: 100%;
}
.section-content {
    margin: 0 auto;
    padding: 0 20px;
    max-width: var(--site-max-width);
}
  
.section-title {
    text-align: center;
    padding: 20px 0 60px;
    text-transform: uppercase;
    font-size: var(--font-size-l);
    letter-spacing: 100px;
}

.section-title::after {
    content: '';
    display: block;
    width: 660px;
    height: 5px;
    margin-top: 10px auto 20px;
    border-radius: var(--border-radius-s);
    background: var(--secondary-color);
    margin-left: auto;
    margin-right: auto;
}

/* Navbar Styling */
header {
    position: fixed;
    width: 100%;
    z-index: 5;
    background: var(--primary-color); 
  backdrop-filter: blur(px);
  box-shadow: 10px 10px 50px #f3961c;
  transition: top 0.4s ease;
}

header.hide {
  transform: translateY(-100%);
}

header .navbar {
    display: flex;
    padding: 10px;
    padding-right: 50px;
    align-items: center;
    justify-content: space-between;
}


.navbar .nav-logo .logo-text {
    color:var(--white-color);
    font-size: var(--font-size-xxl);
    font-weight: var(--font-waight-semibold);
}

.navbar .nav-menu {
    display: flex;
    gap: 40px;
}

.navbar .nav-menu .nav-link {
    padding: 10px 30px;
    color: var(--white-color);
    font-size: var(--font-size-m);
    border-radius: var(--border-radius-m);
    transition:0.3s ease;
}

.navbar .nav-menu .nav-link:hover {
    color:var(--primary-color);
    background:var(--secondary-color);
}
    
.navbar :where(#menu-close-button, #menu-open-button){
    display: none;
}

/*------------------------ Hero Section Styling ------------------------*/
.hero-section{
  padding: 100px 0 200px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.art-section-content {
  max-width: 600px;
}

.art-details .title {
  font-size: 20rem;
  font-weight: bold;
  margin-bottom: 2px;
  margin-top: 100px;
}


.art-button {
  display: flex;
  justify-content: center;
  margin-top: -90px;
  margin-right: -90px;
  flex-wrap: center;
  gap: 50px;
}
.art-button .Drawing {
  padding: 10px 50px;
  background:var(--secondary-color);            
  color: var(--primary-color);
  border-radius: 20px;
  border: 2px solid var(--secondary-color); 
  text-decoration: none;
  font-weight: var(--font-waight-semibold);
  transition: 0.3s;
}

.art-button .Drawing:hover {
  background: transparent;      
  color: var(--white-color);                           
  border: 2px solid var(--secondary-color);
}




/*---------------------------------About Section Styling --------------------------*/
.about-section {
    padding: 12px 0;
    background: var(--light-pink-color);
}
.about-section .about-content {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}

.about-section .about-image-wrapper .about-image {
    display: inline-block;
    width: 800px;
    height: 500px;
    object-fit: cover;
    border-radius: 50px;
    padding: 40px 30px ;
}

.about-section .about-details .section-title {
    padding: 0;
    margin-bottom: -30px;
    letter-spacing: 10px;
}

.about-section .about-details .section-title::after {
    content: '';
    display: block;
    width: 200px;
    height: 5px;
    border-radius: var(--border-radius-s);
    background: var(--secondary-color);
    margin-top: -10px;
    margin-top: 1px;
    margin-right:315px;
}

.about-section .about-details {
    margin-right: 100px;
    max-width: 50%;

    
}
.about-section .about-details .text {
    line-height: 30px;
    margin: 50px 0 30px;
    text-align: justify;
    font-size: var(--font-size-m);
} 
.about-section .about-details .social-link-list {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.about-section .about-details .social-link-list .social-link {
  color:var(--primary-color);
  font-size: var(--font-size-l);
  transition:0.3s ease;
}
.about-section .about-details .social-link-list .social-link:hover {
    color:var(--secondary-color);
}

/*-----------------Student Section Styling---------------- */

.Students-section {
    background: var(--primary-color);
    padding-bottom: 30px;
    padding-top: 30px;
}
.Students-section .section-title {
    color: var(--white-color);
    font-size: var(--font-size-xxl);
}

.Students-section .slider-content {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.Students-section .slider-wrapper {
    overflow: hidden;
    max-width: 1200px;
    margin: 0 70px 55px ;


}

.Students-section .card-list .card-item {
    color: var(--dark-color);
    user-select: none;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    border-radius:18px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5)
}

.Students-section .card-list .card-item .card-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 4px solid var(--secondary-color);
    padding: 4px;

}
.Students-section .card-list .card-item .name {
    font-size: var(--font-size-l);
    font-weight: var(--font-waight-bold);
    margin-bottom: 20px;
    color: var(--white-color);
}

.Students-section .card-list .card-item .view-work-btn {
    padding: 10px 26px;
    border-radius: var(--border-radius-m);
    background: var(--secondary-color);
    color: var(--primary-color);
    font-weight: var(--font-waight-semibold);
    border: 1px solid transparent;
    transition: 0.3s;
}

.Students-section .card-list .card-item .view-work-btn:hover {
    background: transparent;
    border-color: var(--white-color);
    color: var(--white-color);
}

.swiper-button-prev,
.swiper-button-next {
  color: #ffffff;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #00bfff; 
}

.swiper-pagination-bullet {
  background: #FFFF !important;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background: #FFFF !important;
  opacity: 1;
}

/*------------Student works------------*/
.student-works {
    border-top: 5px solid var(--white-color);
    background: var(--primary-color);
    padding-top: 100px;
    padding-bottom: 100px;
    border-bottom: 40px solid var(--secondary-color);
    display: flex;
    flex-direction: column; /* allow title + list to stack */
    align-items: center;   /* center both */
}

/* Title styling */
.art-title {
    color: var(--secondary-color);
    font-size: 50px;
    font-weight: var(--font-waight-bold);
    margin-bottom: 50px;
    margin-top: -80px;
    letter-spacing: 20px;
}

.art-title::after {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    border-radius: var(--border-radius-s);
    background: var(--white-color);
    margin-top: -10px;
    margin-left: auto;
    margin-right: 50px;
}

/* Navigation list */
.student-works .nav-menu {
    list-style: none;
    display: flex;
    gap: 200px;
    padding: 0;
    margin: 0;
}

/* Links */
.nav-item .art-link {
    text-decoration: none;
    color: var(--white-color);
    font-weight: var(--font-waight-semibold);
    font-size: 20px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
     transition: .4s;
}

/* Hover effect */
.nav-item .art-link:hover {
    color: var(--secondary-color);
    border: 3px solid var(--white-color);
    background-color: var(--primary-color);
}












/* Responsive media query code for max-width 1024px */
@media screen and (max-width:1024px) {

    .menu-section .menu-list {
        gap: 60px;
    }
    .menu-section .menu-list .menu-item {
        width: calc(100% /4  - 60px);
    }
}



/* Responsive media query code for max-width 900px */
@media screen and (max-width:900px) {
    :root {   
    --font-size-m:1rem;
    --font-size-l:1.3rem;
    --font-size-xl:5rem;
    --font-size-xxl:1.8rem;
    }

    body.show-mobile-menu header::before {
        content: '';
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(5px);
        background: rgba(0, 0, 0, 0.2);
    }

    .navbar #menu-close-button, .navbar #menu-open-button {
        display: block;
        font-size: var(--font-size-l);
    }

    .navbar #menu-close-button {
        position: absolute;
        color: #ccc;
        right: 30px;
        top: 30px;    
    }

    .navbar #menu-open-button{
        color: var(--white-color);
    } 
    
    .navbar .nav-menu {
        position: fixed;
        left: -300px;
        top: 0;
        width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        background: var(--primary-color);
        transition: left 0.2s ease;
    
    }

    body.show-mobile-menu .navbar .nav-menu {
        left: 0px;
    }
        

  .navbar .nav-menu .nav-link {
    color: var(--white-color);
    display: block;
    margin-top: 17px ;
    font-size: var(--font-size-xxl);
    font-weight: var(--font-waight-medium);
     } 
     
    .navbar .nav-menu .nav-link:hover {
  color: var(--white-color);
       }

       /*-------------hero section-------------*/
       .hero-section {
        padding-bottom: 100px;
       }
    
       .hero-section .section-content {
        gap: 50px;
        text-align: center;
        padding: 170px 20px 20px 30px;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .hero-section .hero-details :is(.subtitle, .description), .about-section .about-details{
        max-width: 100%;
    }

    .hero-section .hero-details .button a {
        justify-content: center;

    }

    .hero-section .hero-image-wrapper {
        max-width: 270px;
        margin-right: 0;
    }

    .about-section .about-content {
        gap: 1px;
        flex-direction: column;
        margin-left: 30px;
        margin-right: 30px;
    }
    .about-section .about-details {
        margin: 0;
        max-width: 100%;  
    }
/*----------about us---------------*/

.about-section {
padding-bottom: 50px;

}
.about-section .about-details .section-title {
    padding: 0;
    margin-bottom: -30px;
    letter-spacing: 10px;
}

.about-section .about-details .section-title::after {
    content: '';
    display: block;
    width: 100px;
    height: 5px;
    border-radius: 2px;
    background: var(--secondary-color);
    margin-top: 1px;
    margin-left: 165px;
}

.about-section .about-image-wrapper .about-image {
    display: inline-block;
    width: 600px;
    height: auto;
    object-fit: cover;
    border-radius: 50px;
    padding: 40px 30px ;
}

/*----------student section---------------*/

    .Students-section .section-title {
    color: var(--white-color);
    font-size: var(--font-size-l);
    letter-spacing: 20px;
}
.Students-section .section-title::after{
   content: '';
    display: block;
    width: 170px;
    height: 5px;
    margin-top: 3px;
    border-radius: var(--border-radius-s);
    background: var(--secondary-color);
    margin-left: auto;
    margin-right:175px;
}




/*------------Student work----------*/

    .art-title {
    color: var(--secondary-color);
    font-size: 50px;
    font-weight: var(--font-waight-bold);
    margin-bottom: 50px;
    margin-top: -80px;
    letter-spacing: 20px;
}

.art-title::after {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    border-radius: var(--border-radius-s);
    background: var(--white-color);
    margin-top: -10px;
    margin-left: auto;
    margin-right: 50px;
}

/* Navigation list */
.student-works .nav-menu {
    list-style: none;
    display: flex;
    gap: 1px;
    padding: 0;
    margin: 0;
}

/* Links */
.nav-item .art-link {
    text-decoration: none;
    color: var(--white-color);
    font-weight: var(--font-waight-semibold);
    font-size: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
     transition: .4s;
}

/* Hover effect */
.nav-item .art-link:hover {
    color: var(--secondary-color);
    border: 3px solid var(--white-color);
    background-color: var(--primary-color);
}
    
        







}